body{
background-color:aqua
}  
h1{
font: size 60px;
color:rgb(236, 19, 73);
text-align: center;
}
p{
font-size:20;
color:#D51C39
text-align: center;

}
ing
     width: 10%
      margin-left: 850px;
}   





