body{
background-color:aqua
}  
h1{
font: size 60px;
color:blue;
text-align: center;

}
p{
font-size:20;
color:#D51C39;
text-align: center;
border: 5px grove blueviolet 

}
img{
width:30;
margin-left: 850px;
border: 5px solid ridge red;
}  





